#app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#app main {
  margin-left: 30px;
}

.navbar {
  display: flex;
  flex-direction: column;
  background-color: #5a2ea6;
}

.navbar .navbar-title {
  color: #fff;
  margin: 15px;
  text-decoration: none;
}

.search-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  width: 100%;
}

.search-input {
  display: flex;
  flex: 1;
  width: 100%;
  height: 35px;
  margin-bottom: 15px;
  padding: 7px;
  border: 1px solid #8e4dff;
  border-radius: 9px;
  font-size: 14px;
}

@media (max-width: 1000px) {
  #app {
    flex-direction: column;
  }

  #app main {
    margin-left: 0;
    margin-top: 30px;
    width: 100%;
  }
}
